#root {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;

}

#logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -0.1em;
  font-size: 2vh;
  color: light-dark(#ddd, #444);
  font-weight: bold;
}

button {
  color: light-dark(#000, #fff);
  background-color: light-dark(#ddd, #666);
  margin: 10px;
}

.word {
  color: light-dark(#333, #fff);
}

#status {
  height: 2vh;
}

#word-container {
  height: 12vh;
}

h1 {
  margin: 0;
}

#word-container .square {
  font-size: 35px;
  font-weight: bold;
  max-width: 70px;
  max-height: 90px;
  width: 13vw;
  height: 16vw;
  padding: 0;
}

.square {
  font-size: 20px;
  max-width: 60px;
  max-height: 70px;
  width: 8vw;
  height: 11vw;
  margin: 2px;
  font-weight: bold;
}

#status {
  margin-top: 0;
  padding-top: 0;
  font-weight: bold;
  color: #666;
  font-family: verdana;
  font-size: 20px;
}

#credits {
  position:absolute;
  border-bottom: 1px solid #ccc;
  left: 0;
  right: 0;
  top:0;
  background-color: light-dark(#eee, #333);
  font-size: 10px;
}

#definition {
  height: 20vh;

  font-size: 24px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20px;
  display:grid;
  margin-top: 0;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  background-color: light-dark(#eee, #333);
}

#score {
  height: 25px;
  color: #888; 
  font-weight: bold;
  font-size: 20px;
}


@media only screen and (max-width: 768px) {
  #credits {
    font-size: 10px;
  }

  #logo {
    font-size: 3vw;
  }

  #definition {
    display:grid;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    padding-left: 2em;
    padding-right: 2em;
  }

  #status {
    font-weight: bold;
    color: light-dark(#666, #ddd);
    font-family: verdana;
    font-size: 14px;
  }

  #word-container .square {
    font-size: 28px;
    font-weight: bold;
    width: 13vw;
    padding: 0;
    margin-left: 5px;
  }

  .square {
    font-size: 14px;
    font-weight: bold;
    width: 8vw;
    height: 11vw;
    margin: 2px;
    padding: 1vw;
  }

  #score {
    height: 25px;
    color: #888; 
    font-weight: bold;
    font-size: 15px; 
    height: 5vh;
  }

  #keyboard-container {
    padding-left: 1em;
    padding-right: 1em;
  }

  button {
    font-size: 12px;
  }
}

.square-unattempted {
  background-color: light-dark(#ddd, #888);
}

.square-attempted-not-present {
  background-color: light-dark(#777, #333);
}

.square-attempted-present {
  background-color: #9ACD32 !important;
}

.word {
  font-weight: bold;
  background-color: light-dark(#ccc, #666);
}

