#root {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  padding: 0 1em 1em 1em;
}

#logo {
  font-size: 1.2em;
  padding-top: 4vh;
  letter-spacing: -0.1em;
  color: light-dark(#333, #ddd);
}

#logo img {
  width: 10%;
}

button {
  font-weight: bold;
  color: light-dark(#000, #fff);
  background-color: light-dark(#ddd, #666);
  margin: 0.5em;
}

.word {
  color: light-dark(#333, #fff);
}

#status {
  height: 2vh;
}

#word-container {
  height: 6.5em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  padding: 0;
  display:grid;
  flex-direction: row;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 3em;
}

p {
  margin: 0;
}

#word-container .square {
  font-size: 2em;
  font-weight: bolder;
  width: 2em;
  height: 2.5em;
  padding: 0;
  background-color: light-dark(#d6f8ff, #3b494d);
  box-shadow: 0.2em 0.2em light-dark(lightblue, #20292b);
}

.square {
  font-size: 1.2em;
  font-weight: 900;
  width: 1.8em;
  height: 3em;
  margin: 0.3em;
  padding: 0;
}

#keyboard-container {
  padding-left: 1em;
  padding-right: 1em;
}

#status {
  margin-top: 1em;
  padding-top: 0;
  color: #666;
  font-family: verdana;
  font-size: 20px;
}

#credits {
  position:absolute;
  font-size: 0.1em;
  border-bottom: 1px solid light-dark(#ccc, #333);
  left: 0;
  right: 0;
  top:0;
  color: light-dark(#555, #444);
  background-color: light-dark(#eee, #222);
}

#definition {
  height: 7em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: 1.4em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 0.5em;
  display:grid;
  margin-top: 0;
  flex-direction: row;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2.5em;
  background-color: light-dark(#d6f8ff, #3b494d);
  border-color: light-dark(lightblue, #5e6e73);
  border-style: dotted;
  border-width: 0.3em;
}

#score {
  padding: 0;
  color: #888; 
  font-size: 1.2em;
}

#actions {
  margin-top: 1.2em;
}

@media only screen and (max-width: 768px) {
  #credits {
    font-size: 10px;
  }

  #logo {
    font-size: 3vw;
  }

  #definition {
    display:grid;
    flex-direction: row;
    align-items: center;
    font-size: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
  }

  #status {
    color: light-dark(#666, #ddd);
    font-family: verdana;
    font-size: 14px;
  }

  #word-container .square {
    font-size: 1.6em;
    width: 1.6em;
    height: 2.5em;
    padding: 0;
  }

  .square {
    font-size: 1em;
    font-weight: 900;
    width: 1.5em;
    height: 2em;
    margin: 0.2em;
  }

  #score {
    color: #888; 
    font-size: 15px; 
    height: 5vh;
  }

  button {
    font-size: 0.7em;
  }
}

.square-unattempted {
  background-color: light-dark(#ddd, #666);
  box-shadow: 0.2em 0.2em light-dark(#bbb, #444) !important;
}

.square-attempted-revealed {
  background-color: light-dark(#ffae40, #E35335) !important;
  box-shadow: 0.2em 0.2em light-dark(#e99727, #94220a) !important;
}

.square-attempted-not-present {
  background-color: light-dark(#777, #333);
  box-shadow: 0.2em 0.2em light-dark(#555, #111) !important;
}

.square-attempted-present {
  background-color: light-dark(#a1d43b, #088F8F) !important;
  box-shadow: 0.2em 0.2em light-dark(#7cab1d, #026f6f) !important;
}

.word {
  background-color: light-dark(#ccc, #666);
}

