#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

#logo {
  padding-bottom: 1.5em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2vw;
  color: #9ACD32;
  font-weight: bold;
  height: 50px;
}

#word-container {
  height: 120px;
}

.word {
  color: #333;
}

.square {
  font-size: 20px;
  width: 80px;
  height: 80px;
  margin: 5px;
}

#status {
  margin-top: 0;
  padding-top: 0;
  font-weight: bold;
  color: #666;
  font-family: verdana;
  font-size: 20px;
}

#credits {
  position:absolute;
  left: 0;
  right: 0;
  top:0;
  background-color: #eee;
  font-size: 15px;
}

#definition {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
}

#controls {
  display:flex;
}


#score {
  height: 25px;
  color: #888; 
  font-weight: bold;
  font-size: 20px;
}

@media only screen and (max-width: 390px) {
  #credits {
    font-size: 10px;
  }

  #logo {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4vw;
    color: #9ACD32;
    font-weight: bold;
    padding-bottom: 0px;
    height: 10vh;
  }

  #definition {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 20vh;
    font-size: 14px;
  }

  #status {
    margin-top: 0;
    padding-top: 0;
    font-weight: bold;
    color: #666;
    font-family: verdana;
    font-size: 10px;
  }

  #word-container {
    height: 15vh;
  }

  #word-container .square {
    font-size: 17px;
    font-weight: bold;
    width: 11vw;
    height: 11vw;
    padding: 0;
  }

  .square {
    font-size: 10px;
    font-weight: bold;
    width: 6vw;
    height: 10vw;
    margin: 5px;
    padding: 1vw;
  }

  #score {
    height: 25px;
    color: #888; 
    font-weight: bold;
    font-size: 15px;
    height: 5vh;
  }

  #keyboard-container {
    padding: 1em;
  }

  button {
    font-size: 10px;
  }
}

.square-unattempted {
  background-color: #ddd;
}

.square-attempted-not-present {
  background-color: #777;
}

.square-attempted-present {
  background-color: #9ACD32 !important;
}

.word {
  font-weight: bold;
  background-color: #ccc;
}

